@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.btn {
  font: normal normal 700 normal 14px/18px "Orbitron", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border-radius: 3px;
  transform: scale(1);
  transition: 0.3s all;
  margin: 0;
}
.btn.primary {
  color: #6C5CE7 !important;
  background-color: #161616;
}
.btn:hover {
  transform: scale(1.05);
}

.section-menu > navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.section-menu > navbar .logo {
  margin: 0;
  padding: 0;
}
.section-menu > navbar .rocket-decorator {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

ul {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  padding: 0;
  margin: 0;
}
ul li a:not(.btn-normal) {
  text-decoration: none;
  font: normal normal 600 normal 14px/16px "Orbitron", sans-serif;
  text-transform: uppercase;
  color: #f1f1f1;
}
ul li a:not(.btn-normal):hover {
  transition: 0.3s all;
  color: #6C5CE7;
}

.section-header {
  position: relative;
  height: calc(100vh - 220px);
  padding-top: 120px;
}
.section-header .line-decorator {
  background-color: #212121;
}
.section-header .text-config {
  display: flex;
  flex-direction: column;
  gap: 60px 0;
}
.section-header .text-config h1 {
  font: normal normal 700 normal 48px/60px "Orbitron", sans-serif;
  color: #DBDBDB;
}
.section-header .text-config h1 span {
  color: #6C5CE7;
}
.section-header .text-config p {
  font: normal normal 400 normal 16px/22px "Open Sans", sans-serif;
  color: #C9C9C9;
  width: 495px;
}
.section-header .text-config .stacks {
  font: normal normal 400 normal 20px/24px "Open Sans", sans-serif;
}
.section-header .text-config .stacks li {
  display: flex;
  box-shadow: inset 0px -10px 0px #6C5CE7;
  transition: all 0.3s;
}
.section-header .text-config .stacks li:hover {
  cursor: none;
  box-shadow: inset 0px -24px 0px #6C5CE7;
}
.section-header .principal-image {
  position: absolute;
  bottom: -40px;
  right: 0;
  z-index: -1;
}

.section-about {
  position: relative;
  z-index: 1;
}
.section-about .line-decorator {
  background: linear-gradient(180deg, #5A4CCC 0%, rgba(66, 62, 90, 0) 100%);
}
.section-about .container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 300px);
  margin: auto;
}
.section-about .container .main-image {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-right: 100px;
}
.section-about .container .title-config {
  display: flex;
  gap: 20px 0;
  flex-direction: column;
  width: 870px;
}
.section-about .container .title-config h1 {
  font: normal normal 700 normal 24px/32px "Orbitron", sans-serif;
}
.section-about .container .title-config p {
  font: normal normal 400 normal 16px/22px "Open Sans", sans-serif;
}
.section-about .container .title-config .button-cta {
  display: inline-flex;
  margin-top: 40px;
}
.section-about .skills {
  display: flex;
  gap: 5em;
  overflow-x: auto;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  bottom: 0;
}
.section-about .skills li {
  list-style: none;
  display: inline-flex;
}
.section-about .skills li img {
  width: 50px;
  height: 50px;
  filter: grayscale(1);
  opacity: 0.3;
  transition: 0.3s all;
}
.section-about .skills li img:hover {
  filter: grayscale(0);
  opacity: 1;
}

.section-trajectory {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  position: relative;
  z-index: 1;
}
.section-trajectory .line-decorator {
  background-color: #eaeaea;
}
.section-trajectory .row {
  display: grid;
  grid-template-columns: 1fr 0 1fr;
  grid-template-areas: "card dot period";
  gap: 0 40px;
  align-items: center;
}
.section-trajectory .row:nth-child(odd) {
  grid-template-areas: "period dot card";
}
.section-trajectory .row:nth-child(odd) .gradient-border {
  justify-self: flex-start;
}
.section-trajectory .row:nth-child(odd) .gradient-border::before {
  left: 0;
  border-radius: 5px 0 0 5px;
}
.section-trajectory .row:nth-child(odd) .period {
  justify-self: flex-end;
}
.section-trajectory .row .gradient-border {
  grid-area: card;
  justify-self: flex-end;
  align-self: center;
  position: relative;
}
.section-trajectory .row .gradient-border::before {
  border-radius: 0 5px 5px 0;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 7px;
  background-image: linear-gradient(180deg, #6C5CE7 0%, #161616 100%, #000000 100%);
  z-index: 1;
}
.section-trajectory .row .card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  border-radius: 5px;
  max-width: 520px;
}
.section-trajectory .row .card h2 {
  font: normal normal 600 normal 14px/16px "Orbitron", sans-serif;
  text-transform: uppercase;
  color: #8C8C8C;
}
.section-trajectory .row .card h1 {
  font: normal normal 700 normal 24px/32px "Orbitron", sans-serif;
  background-image: linear-gradient(180deg, #6C5CE7 0%, #161616 100%, #000000 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.section-trajectory .row .card p {
  font: normal normal 400 normal 16px/22px "Open Sans", sans-serif;
  color: #000000;
}
.section-trajectory .row .card ul {
  display: flex;
  list-style: none;
  gap: 20px;
  flex-wrap: wrap;
}
.section-trajectory .row .card ul li {
  box-shadow: inset 0px 0px 2px rgba(108, 92, 231, 0.5);
  font: normal normal 400 normal 16px/22px "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #6C5CE7;
  padding: 5px;
  border-radius: 5px;
}
.section-trajectory .row .dot-decorator {
  grid-area: dot;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(180deg, #6C5CE7 0%, #161616 100%, #000000 100%);
  justify-self: center;
  margin: 0;
  padding: 0;
}
.section-trajectory .row .period {
  grid-area: period;
  font: normal normal 400 normal 16px/22px "Open Sans", sans-serif;
  background-image: linear-gradient(180deg, #6C5CE7 0%, #161616 100%, #000000 100%);
  -webkit-background-clip: text;
  color: transparent;
}

* {
  margin: 0;
  padding: 0;
}

.bg-blackMain {
  background-color: #161616;
  color: #f1f1f1;
}

.bg-gradient-primary {
  background: linear-gradient(180deg, #6C5CE7 0%, #161616 100%, #000000 100%);
  color: #eaeaea;
}

.shadow.primary {
  box-shadow: 5px 5px 0px #6C5CE7;
}

.position-relative {
  position: relative;
  z-index: 2;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  z-index: 1;
}

.line-decorator {
  display: flex;
  width: 2px;
  position: absolute;
  top: 0%;
  left: calc(50% - 1px);
  height: 100%;
  z-index: -1;
}

.d-inline {
  display: inline-block;
}

.space-section {
  padding: 150px 0;
}

/*# sourceMappingURL=style.css.map */
