@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.section-menu > navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.section-menu > navbar .logo {
  margin: 0;
  padding: 0;
}
.section-menu > navbar .rocket-decorator {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

ul {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  padding: 0;
  margin: 0;
}
ul li a:not(.btn-normal) {
  text-decoration: none;
  font: normal normal 600 normal 14px/16px "Orbitron", sans-serif;
  text-transform: uppercase;
  color: #f1f1f1;
}
ul li a:not(.btn-normal):hover {
  transition: 0.3s all;
  color: #6C5CE7;
}

.section-header {
  position: relative;
  height: calc(100vh - 220px);
  padding-top: 120px;
}
.section-header .line-decorator {
  background-color: #212121;
}
.section-header .text-config {
  display: flex;
  flex-direction: column;
  gap: 60px 0;
}
.section-header .text-config h1 {
  font: normal normal 700 normal 48px/60px "Orbitron", sans-serif;
  color: #DBDBDB;
}
.section-header .text-config h1 span {
  color: #6C5CE7;
}
.section-header .text-config p {
  font: normal normal 400 normal 16px/22px "Open Sans", sans-serif;
  color: #C9C9C9;
  width: 495px;
}
.section-header .text-config .stacks {
  font: normal normal 400 normal 20px/24px "Open Sans", sans-serif;
}
.section-header .text-config .stacks li {
  display: flex;
  box-shadow: inset 0px -10px 0px #6C5CE7;
  transition: all 0.3s;
}
.section-header .text-config .stacks li:hover {
  cursor: none;
  box-shadow: inset 0px -24px 0px #6C5CE7;
}
.section-header .principal-image {
  position: absolute;
  bottom: -40px;
  right: 0;
  z-index: -1;
}
.section-header .skills {
  display: flex;
  gap: 5em;
  overflow-x: auto;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.05);
}
.section-header .skills li {
  list-style: none;
  display: inline-flex;
}
.section-header .skills li img {
  backdrop-filter: blur(1px);
  width: 50px;
  height: 50px;
  filter: grayscale(1);
  opacity: 0.3;
  transition: 0.3s all;
}
.section-header .skills li img:hover {
  filter: grayscale(0);
  opacity: 1;
}

.section-about {
  position: relative;
  z-index: 1;
}
.section-about .line-decorator {
  background: linear-gradient(180deg, #5A4CCC 0%, rgba(66, 62, 90, 0) 100%);
}
.section-about .container {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.section-about .container .main-image {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-right: 100px;
}
.section-about .container .title-config {
  display: flex;
  gap: 20px 0;
  flex-direction: column;
  width: 870px;
}
.section-about .container .title-config h1 {
  font: normal normal 700 normal 24px/32px "Orbitron", sans-serif;
}
.section-about .container .title-config p {
  font: normal normal 400 normal 16px/22px "Open Sans", sans-serif;
}
.section-about .container .title-config .button-cta {
  display: inline-flex;
  margin-top: 40px;
}
.section-about .skills {
  display: flex;
  gap: 5em;
  overflow-x: auto;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100px;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.02);
}
.section-about .skills li {
  list-style: none;
  display: inline-flex;
  backdrop-filter: blur(3px);
}
.section-about .skills li img {
  width: 50px;
  height: 50px;
  filter: grayscale(1);
  opacity: 0.7;
  transition: 0.3s all;
}
.section-about .skills li img:hover {
  filter: grayscale(0);
  opacity: 1;
}

.section-trajectory {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  position: relative;
  z-index: 1;
}
.section-trajectory .line-decorator {
  background-color: #eaeaea;
}
.section-trajectory .row {
  display: grid;
  grid-template-columns: 1fr 0 1fr;
  grid-template-areas: "card dot period";
  gap: 0 40px;
  align-items: center;
}
.section-trajectory .row:nth-child(odd) {
  grid-template-areas: "period dot card";
}
.section-trajectory .row:nth-child(odd) .gradient-border {
  justify-self: flex-start;
}
.section-trajectory .row:nth-child(odd) .gradient-border::before {
  left: 0;
  border-radius: 5px 0 0 5px;
}
.section-trajectory .row:nth-child(odd) .period {
  justify-self: flex-end;
}
.section-trajectory .row .gradient-border {
  grid-area: card;
  justify-self: flex-end;
  align-self: center;
  position: relative;
}
.section-trajectory .row .gradient-border::before {
  border-radius: 0 5px 5px 0;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 7px;
  background-image: linear-gradient(180deg, #6C5CE7 0%, #161616 100%, #000000 100%);
  z-index: 1;
}
.section-trajectory .row .card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  border-radius: 5px;
  max-width: 520px;
}
.section-trajectory .row .card h2 {
  font: normal normal 600 normal 14px/16px "Orbitron", sans-serif;
  text-transform: uppercase;
  color: #8C8C8C;
}
.section-trajectory .row .card h1 {
  font: normal normal 700 normal 24px/32px "Orbitron", sans-serif;
  background-image: linear-gradient(180deg, #6C5CE7 0%, #161616 100%, #000000 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.section-trajectory .row .card p {
  font: normal normal 400 normal 16px/22px "Open Sans", sans-serif;
  color: #000000;
}
.section-trajectory .row .card ul {
  display: flex;
  list-style: none;
  gap: 20px;
  flex-wrap: wrap;
}
.section-trajectory .row .card ul li {
  box-shadow: inset 0px 0px 2px rgba(108, 92, 231, 0.5);
  font: normal normal 400 normal 16px/22px "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #6C5CE7;
  padding: 5px;
  border-radius: 5px;
}
.section-trajectory .row .dot-decorator {
  grid-area: dot;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(180deg, #6C5CE7 0%, #161616 100%, #000000 100%);
  justify-self: center;
  margin: 0;
  padding: 0;
}
.section-trajectory .row .period {
  grid-area: period;
  font: normal normal 400 normal 16px/22px "Open Sans", sans-serif;
  background-image: linear-gradient(180deg, #6C5CE7 0%, #161616 100%, #000000 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.section-services {
  position: relative;
  z-index: 1;
  background-color: #E7E3FF;
}
.section-services .line-decorator {
  background-color: #EDEBFF;
}
.section-services .container {
  display: flex;
  gap: 0 40px;
}
.section-services .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #161616;
  width: 360px;
  height: 360px;
  border-radius: 5px;
  color: #EDEBFF;
}
.section-services .card img {
  width: 64px;
  height: 64px;
}
.section-services .card h1 {
  font: normal normal 600 normal 14px/16px "Orbitron", sans-serif;
  margin: 20px 0 40px 0;
  text-transform: uppercase;
}
.section-services .card .skills {
  display: flex;
  font: normal normal 400 normal 20px/24px "Open Sans", sans-serif;
}
.section-services .card .skills.dba {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  justify-content: center;
  gap: 20px;
}
.section-services .card .skills.dba span {
  position: relative;
  flex-shrink: 0;
  margin: auto;
  border: 1px solid #6C5CE7;
  padding: 5px;
}
.section-services .card .skills.dba span.arrow::before {
  content: "";
  position: absolute;
  top: -7px;
  /* Define a posição vertical da seta em relação ao span */
  left: 50%;
  /* Define a posição horizontal da seta em relação ao span */
  transform: translateX(-50%);
  /* Centraliza a seta horizontalmente */
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #6C5CE7;
  /* Cor da seta */
  z-index: 2;
  /* Define a ordem de empilhamento da seta */
}
.section-services .card .skills.dba span.arrow::after {
  content: "";
  position: absolute;
  top: -20px;
  /* Define a posição vertical da linha em relação ao span */
  left: 50%;
  /* Define a posição horizontal da linha em relação ao span */
  transform: translateX(-50%);
  /* Centraliza a linha horizontalmente */
  border-left: 1px solid #6C5CE7;
  /* Cor da linha vertical */
  height: 15px;
  /* Altura da linha vertical */
  z-index: 1;
  /* Define a ordem de empilhamento da linha */
}
.section-services .card .skills.developer > ul {
  display: flex;
  flex-direction: column;
}
.section-services .card .skills.developer > ul li::before {
  content: "<";
  color: #6C5CE7;
}
.section-services .card .skills.developer > ul li::after {
  content: "/>";
  color: #6C5CE7;
}
.section-services .card .skills.designer > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20;
}
.section-services .card .skills.designer > ul li {
  border: 1px dashed #6C5CE7;
  padding: 5px 10px;
}
.section-services .card .skills.designer > ul li:nth-child(4n+3) {
  margin-left: 20px;
}

.section-contract {
  position: relative;
  background-color: #6C5CE7;
  z-index: 1;
}
.section-contract .line-decorator {
  background-color: #7160F4;
}
.section-contract .text-config {
  display: flex;
  gap: 120px;
  align-items: center;
}
.section-contract .text-config h1 {
  max-width: 660px;
  font: normal normal 700 normal 48px/60px "Orbitron", sans-serif;
  color: #B7ADFF;
}
.section-contract .text-config .cta > a {
  font: normal normal 700 normal 24px/30px "Orbitron", sans-serif;
}

.section-contact {
  position: relative;
  z-index: 1;
}
.section-contact .line-decorator {
  background-color: #212121;
  height: calc(100% - 58px);
}
.section-contact .container {
  display: flex;
  flex-direction: column;
  gap: 60px 0;
}
.section-contact .main-info {
  display: flex;
  flex-direction: row;
}
.section-contact .title-config {
  max-width: 760px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}
.section-contact .title-config h1 {
  font: normal normal 700 normal 48px/60px "Orbitron", sans-serif;
  color: #DBDBDB;
}
.section-contact .title-config h1 span {
  color: #6C5CE7;
}
.section-contact .title-config p {
  font: normal normal 400 normal 16px/22px "Open Sans", sans-serif;
  color: #C9C9C9;
}
.section-contact .card {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  padding: 40px;
  width: 350px;
  gap: 20px;
}
.section-contact .card h2 {
  font: normal normal 600 normal 14px/16px "Orbitron", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.section-contact .card ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section-contact .card ul li {
  display: flex;
  gap: 0 20px;
  flex-direction: row;
}
.section-contact .card ul li img {
  width: 24px;
  height: 24px;
}
.section-contact .card ul li a {
  font: normal normal 400 normal 16px/22px "Open Sans", sans-serif;
  text-decoration-color: #6C5CE7;
  display: flex;
  gap: 0 20px;
  transition: all 0.3s;
  display: block;
  border-bottom: 1px dashed #6C5CE7;
  text-transform: lowercase;
}
.section-contact .card ul li a:hover {
  color: #000000;
  box-shadow: inset 0px -24px 0px #6C5CE7;
}
.section-contact .copywrite {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #212121;
  font: normal normal 400 normal 16px/22px "Open Sans", sans-serif;
  font-size: 12px;
  line-height: auto;
  gap: 5px 0;
  border-radius: 5px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}
.section-contact .smoke-decorator {
  display: flex;
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
}

.bg-blackMain {
  background-color: #161616;
  color: #f1f1f1;
}

.bg-gradient-primary {
  background: linear-gradient(180deg, #6C5CE7 0%, #161616 100%, #000000 100%);
  color: #eaeaea;
}

.shadow.primary {
  box-shadow: 5px 5px 0px #6C5CE7;
}
.shadow.primaryMainDark {
  box-shadow: 5px 5px 0px #B7ADFF;
}

.btn {
  font: normal normal 700 normal 14px/18px "Orbitron", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border-radius: 3px;
  transition: 0.5s all;
  margin: 0;
}
.btn:hover {
  color: #000000;
  box-shadow: 5px 5px 0px #000000;
  transform: perspective(3);
}
.btn.primary {
  color: #6C5CE7;
  background-color: #161616;
}
.btn.primary:hover {
  background-color: #6C5CE7;
  color: #000000;
}
.btn.primaryMainDark {
  background-color: #000000;
  color: #B7ADFF;
}
.btn.primaryMainDark:hover {
  background-color: #B7ADFF;
  color: #000000;
}

.position-relative {
  position: relative;
  z-index: 2;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  z-index: 1;
}

.line-decorator {
  display: flex;
  width: 2px;
  position: absolute;
  top: 0%;
  left: calc(50% - 1px);
  height: 100%;
  z-index: -1;
}

.d-inline {
  display: inline-block;
}

.space-section {
  padding: 80px 0;
}

.tag-icon {
  display: flex;
  position: relative;
  z-index: -1;
  padding: 15px;
}
.tag-icon.start {
  justify-content: flex-start;
}
.tag-icon.end {
  justify-content: flex-end;
}

/*# sourceMappingURL=style.css.map */
