@import './modules/colors';
@import './sections/navbar';
@import './sections/header';
@import './sections/about';
@import './sections/trajectory';

// Resets

* {
    margin: 0;
    padding: 0;
}

// Backgrounds

.bg-blackMain {
    background-color: $blackMain;
    color: $whiteMain;
}

.bg-gradient-primary {
    background: linear-gradient(180deg, $primary 0%, $blackMain 100%, $blackDark 100%);
    color: $whiteDark;
}


// Shadows
.shadow {
    &.primary {
        box-shadow: 5px 5px 0px $primary;
    }
}

// Generics

.position-relative {
    position: relative;
    z-index: 2;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    z-index: 1;
}

.line-decorator {
    display: flex;
    width: 2px;
    position: absolute;
    top: 0%;
    left: calc(50% - 1px);
    height: 100%;
    z-index: -1;
}

.d-inline {
    display: inline-block;
}

.space-section {
    padding: 150px 0;
}