@import './modules/colors';
@import './sections/navbar';
@import './sections/header';
@import './sections/about';
@import './sections/trajectory';
@import './sections/service';
@import './sections/contract';
@import './sections/footer';

// Resets

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Altera a cor do track (fundo) da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: $blackMain;
    // border-left: 1px solid $primary;
    /* Substitua pela cor desejada */
}

/* Altera a cor do thumb (ponteiro) da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: $primary;
    // border: 1px solid $blackMain;

    &:hover {
        background: lighten($primary, 5%);
    }
}


// Backgrounds

.bg-blackMain {
    background-color: $blackMain;
    color: $whiteMain;
}

.bg-gradient-primary {
    background: linear-gradient(180deg, $primary 0%, $blackMain 100%, $blackDark 100%);
    color: $whiteDark;
}


// Shadows
.shadow {
    &.primary {
        box-shadow: 5px 5px 0px $primary;
    }

    &.primaryMainDark {
        box-shadow: 5px 5px 0px $primaryMainDark;
    }
}

// General

.btn {
    font: $font-button-normal;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    border-radius: 3px;
    // transform: scale(1);
    transition: .5s all;
    margin: 0;

    &:hover {
        color: $blackDark;
        box-shadow: 5px 5px 0px $blackDark;
        transform: perspective(3);
    }

    &.primary {
        color: $primary;
        background-color: $blackMain;

        &:hover {
            background-color: $primary;
            color: $blackDark;
        }
    }

    &.primaryMainDark {
        background-color: $blackDark;
        color: $primaryMainDark;

        &:hover {
            background-color: $primaryMainDark;
            color: $blackDark;
        }
    }

}

.position-relative {
    position: relative;
    z-index: 2;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    z-index: 1;
}

.line-decorator {
    display: flex;
    width: 2px;
    position: absolute;
    top: 0%;
    left: calc(50% - 1px);
    height: 100%;
    z-index: -1;
}

.d-inline {
    display: inline-block;
}

.space-section {
    padding: 80px 0;
}

.tag-icon {
    display: flex;
    position: relative;
    z-index: -1;
    padding: 15px;

    &.start {
        justify-content: flex-start;
    }

    &.end {
        justify-content: flex-end;

    }

}