@import '../modules/tipography';
@import '../modules/colors';

.section-header {
    position: relative;
    height: calc(100vh - 220px);
    width: calc(100% - 40px);
    padding: 0 20px;
    padding-top: 120px;
    z-index: 1;
    overflow: hidden;

    .line-decorator {
        background-color: #212121;
    }

    .text-config {
        display: flex;
        flex-direction: column;
        gap: 60px 0;

        h1 {
            font: $font-big-title;
            color: $silverLight;

            span {
                color: $primary;
            }
        }

        p {
            font: $font-paragraph;
            color: $silverMain;
            width: 495px;
        }

        .stacks {
            font: $font-free;
            display: inline-flex;
            gap: 20px;

            li {
                display: flex;
                box-shadow: inset 0px -10px 0px $primary;
                transition: all .3s;

                &.active, &:hover {
                    cursor: pointer;
                    box-shadow: inset 0px -24px 0px $primary;

                }
            }
        }
    }

    .principal-image {
        position: absolute;
        bottom: 0px;
        right: 0;
        z-index: -3;
        width: 720px;
        height: 611px;
    }

    .skills {
        display: flex;
        align-items: center;
        position: relative;
        gap: 5em;
        animation: scroll 90s linear infinite;
        animation-play-state: running;
        position: absolute;
        width: max-content;
        height: 100px;
        left: 0;
        bottom: 0;
        border-top: 7px solid transparent;

        &.active, &:hover {
            transition: .3s;
            border-color: $primary;
            background: rgba($color: $whiteLight, $alpha: .5);
            backdrop-filter: blur(10px);

            li {
                img {
                    opacity: .5;
                }
            }
        }


        li {
            list-style: none;
            display: inline-flex;

            img {
                filter: grayscale(1);
                opacity: .2;
                transition: .3s all;

                &:hover,
                &.active {
                    filter: grayscale(0);
                    opacity: 1;
                }
            }
        }

        &:hover {
            animation-play-state: paused;
        }
    }

    @media (max-width: 1500px) {
        .principal-image {
            opacity: .1;
        }
    }

    @media (max-width: 1240px) {
        height: auto;

        .skills {
            margin-top: 30px;
            align-items: center;
            justify-items: flex-start;
            position: relative;
        }
    }

    @media (max-width: 1000px) {
        padding: 0 20px;

        .principal-image {
            width: 500px;
            height: 424px;
        }

        .text-config {
            padding-top: 120px;
            gap: 20px 0;

            h1 {
                font: $font-title;
            }

            p {
                width: auto;
                max-width: 640px;
            }

            .stacks {
                padding-top: 30px;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }

    @media (max-width: 785px) {
        .principal-image {
            display: none;
        }

        .skills {
            width: 4000px;
            // gap: 5em;
        }
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }
}