$blackDark: #000000;
$primary: #6C5CE7;
$blackMain: #161616;
$silverDark: #ADADAD;
$silverMain: #C9C9C9;
$silverLight: #DBDBDB;
$grayLight: #8C8C8C;
$grayMain: #787878;
$grayDark: #ADADAD;
$whiteDark: #eaeaea;
$whiteLight: #fff;
$whiteMainDark: #f2f2f2;
$whiteMain: #f1f1f1;
$primaryLight: #EDEBFF;
$primaryLightDark: #E7E3FF;
$primaryMainDark: #B7ADFF;
$primaryGradient: linear-gradient(180deg, $primary 0%, $blackMain 100%, $blackDark 100%);