$blackDark: #000000;
$primary: #6C5CE7;
$blackMain: #161616;
$silverMain: #C9C9C9;
$silverLight: #DBDBDB;
$grayLight: #8C8C8C;
$whiteDark: #eaeaea;
$whiteLight: #fff;
$whiteMainDark: #f2f2f2;
$whiteMain: #f1f1f1;
$primaryGradient: linear-gradient(180deg, $primary 0%, $blackMain 100%, $blackDark 100%);